graft docs
graft src

include *.rst
include LICENSE

exclude .bumpversion.cfg
exclude .codacy.yaml
exclude .coveragerc
exclude .readthedocs.yml
exclude .codeclimate.yml
exclude tox.ini

prune devtools
prune tests
prune data

global-exclude *.py[cod] __pycache__/* *.so *.dylib 
global-exclude tags
global-exclude *.swp
